.walnut {
    * {
        font-family: 'Open Sans', sans-serif;
    }
    .is-hidden {
        display: none !important;
    }
    .desktop {
        @media (max-width: 767px) {
            display: none;
        }
    }
    .mobile {
        @media (min-width: 768px) {
            display: none;
        }
    }
    .header {
        height: 60px;
        position: fixed;
        top: 0px;
        width: 100%;
        left: 0px;
        z-index: 9999;
        .logo {
            height: 48px;
            padding-top: 10px;
            padding-left: 5%;
            display: none;
        }
        .logo-white {
            height: 48px;
            padding-top: 10px;
            padding-left: 5%;
        }
        .hamburger {
            float: right;
            height: 40px;
            width: 40px;
            // background: black;
            margin-top: 10px;
            margin-right: 10px;
            .bar {
                width: 30px;
                height: 1px;
                background-color: #fff;
                position: absolute;
                box-sizing: border-box;
                &:first-child {
                    top: 20px;
                }
                &:nth-child(2) {
                    top: 30px;
                }
                &:nth-child(3) {
                    top: 40px;
                }
            }
        }
        .header-items {
            color: #fff;
            float: right;
            font-size: 18px;
            padding-right: 0px;
            .item {
                color: #fff;
                margin-right: 32px;
                height: 60px;
                display: inline-block;
                line-height: 60px;
                text-decoration: none;
                &:hover {
                    border-bottom: solid 3px #fff;
                    color: #fff;
                }
            }
            &.mobile {
                
            }
            @media (min-width: 992px) {
                padding-right: 10%;
            }
        }
        &.after-scroll {
            background: #fff;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
            .logo-white {
                display: none;
            }
            .logo {
                display: inline-block;
            }
            .header-items {
                color: #666;
                .item {
                    color: #666;
                    &:hover {
                        border-bottom: solid 3px #615aa7;
                        color: #615aa7;
                    }
                }
            }
            .hamburger {
                .bar {
                    background-color: #666;
                }
            }
        }
        #header-items-mobile {
            position: absolute;
            top: 60px;
            left: 0px;
            width: 100%;
            background: rgb(97, 90, 167);
            // padding-bottom: 20px;
            .item {
                width: 80%;
                margin: 0 auto;
                color: #fff;
                text-align: left;
                display: block;
                border-bottom: solid 1px rgba(255, 255, 255, 0.4);
                height: 60px;
                line-height: 60px;
                text-decoration: none;
                &:last-child {
                    border-bottom: none; 
                }
            }
        }
    }
    .section-container {
        padding-top: 40px;
        padding-bottom: 20px;
        .section-title {
            // font-size: 35px;
            color: #615aa7;
            text-align: center;
            margin-bottom: 30px;
        }
        h3 {
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            text-align: justify;
            font-weight: 300;
        }
        @media (min-width: 768px) {
            padding-top: 60px;
            // padding-bottom: 20px;
        }
    }
    .top-section {
        // margin-top: 60px;
        height: 300px;
        background-color: rgba(97, 90, 167, 1);
        background-image: url('images/corp-advisory.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        .moto {
            max-width: 300px;
            margin: 0 auto;
            color: #fff;
            text-align: center;
            font-size: 18px;
            padding-top: 27%;
            @media (min-width: 768px) {
                max-width: 600px;
                font-size: 29px;
                padding-top: 10%;
            }
        }
        @media (min-width: 768px) {
            height: 500px;
        }
    }
    .about-us-section {
        .left-icon-wrapper {
            .content {
                padding: 15px;
            }
            .image-holder {
                border-radius: 50%;
                background-color: #f7f6fa;
                width: 106px;
                height: 106px;
                margin: 0 auto;
                margin-bottom: 30px;
                position: relative;
                .image {
                    width: 46px;
                    height: 56px;
                    top: calc(50% - 20px);
                    right: calc(50% - 23px);
                    position: absolute;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        @media (min-width: 768px) {
            
        }
    }
    .our-services-section {
        background-color: rgba(97, 90, 167, 0.06);
        .image {
            width: 100%;
            margin-bottom: 24px;
            img {
                width: 100%;
                max-height: 198px;
                @media (min-width: 992px) {
                    max-height: 153px;
                }
            }
        }
    }
    .team-section {
        .left-icon-wrapper {
            position: relative;
            overflow: hidden;
            .image {
                height: 430px;
                text-align: center;
                img {
                    height: 100%;
                }
            }
            .about-overlay {
                position: absolute;
                bottom: -600px;
                left: 0px;
                transition: all ease-in-out 0.3s;
                padding: 15px;
                background-color: rgba(97, 90, 167, 1); 
                width: 100%;
                color: #fff;
                border-radius: 8px;
                overflow: scroll;
                .title {
                    font-size: 20px;
                    text-decoration: underline;
                    font-weight: 600;
                }
                .sub-title {
                    span {
                        font-weight: 300;
                    }
                }
                .journey {
                    font-weight: 600;
                    span {
                        font-weight: 300;
                    }
                }
                .education {
                    font-weight: 600;
                    span {
                        font-weight: 300;
                    }
                }
            }
            &:hover {
                .about-overlay {
                    bottom: 0px;
                }
            }
        }
        .row-1 {
            margin-bottom: 30px;
        }
        .row-2 {
            
        }
    }
    .contact-section {
        background-color: rgba(97, 90, 167, 0.06); 
    }
    .client-section {
        background-color: rgba(97, 90, 167, 0.06); 
    }
}