.walnut * {
  font-family: "Open Sans", sans-serif;
}
.walnut .is-hidden {
  display: none !important;
}
@media (max-width: 767px) {
  .walnut .desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .walnut .mobile {
    display: none;
  }
}
.walnut .header {
  height: 60px;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 9999;
}
.walnut .header .logo {
  height: 48px;
  padding-top: 10px;
  padding-left: 5%;
  display: none;
}
.walnut .header .logo-white {
  height: 48px;
  padding-top: 10px;
  padding-left: 5%;
}
.walnut .header .hamburger {
  float: right;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
}
.walnut .header .hamburger .bar {
  width: 30px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  box-sizing: border-box;
}
.walnut .header .hamburger .bar:first-child {
  top: 20px;
}
.walnut .header .hamburger .bar:nth-child(2) {
  top: 30px;
}
.walnut .header .hamburger .bar:nth-child(3) {
  top: 40px;
}
.walnut .header .header-items {
  color: #fff;
  float: right;
  font-size: 18px;
  padding-right: 0px;
}
.walnut .header .header-items .item {
  color: #fff;
  margin-right: 32px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-decoration: none;
}
.walnut .header .header-items .item:hover {
  border-bottom: solid 3px #fff;
  color: #fff;
}
@media (min-width: 992px) {
  .walnut .header .header-items {
    padding-right: 10%;
  }
}
.walnut .header.after-scroll {
  background: #615aa7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.walnut .header #header-items-mobile {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  background: #615aa7;
}
.walnut .header #header-items-mobile .item {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  text-align: left;
  display: block;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  height: 60px;
  line-height: 60px;
  text-decoration: none;
}
.walnut .header #header-items-mobile .item:last-child {
  border-bottom: none;
}
.walnut .section-container {
  padding-top: 40px;
  padding-bottom: 20px;
}
.walnut .section-container .section-title {
  color: #615aa7;
  text-align: center;
  margin-bottom: 30px;
}
.walnut .section-container h3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.walnut .section-container p {
  font-size: 14px;
  text-align: justify;
  font-weight: 300;
}
@media (min-width: 768px) {
  .walnut .section-container {
    padding-top: 60px;
  }
}
.walnut .top-section {
  height: 400px;
  background-color: rgba(97, 90, 167, 0.6);
  background-image: url("images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.walnut .top-section .moto-container {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding-top: 33%;
  max-width: 300px;
}
@media (min-width: 768px) {
  .walnut .top-section .moto-container {
    max-width: 600px;
    padding-top: 10%;
    float: right;
  }
}
.walnut .top-section .title-moto {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .walnut .top-section .title-moto {
    font-size: 50px;
    margin-bottom: 32px;
  }
}
.walnut .top-section .moto {
  font-size: 14px;
}
@media (min-width: 768px) {
  .walnut .top-section .moto {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .walnut .top-section {
    height: 600px;
  }
}
.walnut .about-us-section .left-icon-wrapper .content {
  padding: 15px;
}
.walnut .about-us-section .left-icon-wrapper .image-holder {
  border-radius: 50%;
  background-color: #f7f6fa;
  width: 106px;
  height: 106px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}
.walnut .about-us-section .left-icon-wrapper .image-holder .image {
  width: 46px;
  height: 56px;
  top: calc(50% - 20px);
  right: calc(50% - 23px);
  position: absolute;
}
.walnut .about-us-section .left-icon-wrapper .image-holder .image img {
  width: 100%;
  height: 100%;
}
.walnut .our-services-section {
  background-color: rgba(97, 90, 167, 0.06);
}
.walnut .our-services-section .image {
  width: 100%;
  margin-bottom: 24px;
}
.walnut .our-services-section .image img {
  width: 100%;
  max-height: 198px;
}
@media (min-width: 992px) {
  .walnut .our-services-section .image img {
    max-height: 153px;
  }
}
.walnut .team-section .left-icon-wrapper {
  position: relative;
  overflow: hidden;
}
.walnut .team-section .left-icon-wrapper .image {
  height: 430px;
  text-align: center;
  padding-bottom: 20px;
}
.walnut .team-section .left-icon-wrapper .image img {
  height: 100%;
}
.walnut .team-section .left-icon-wrapper .about-overlay {
  position: absolute;
  bottom: -700px;
  left: 0px;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  padding: 15px;
  background-color: #615aa7;
  width: 100%;
  color: #fff;
  border-radius: 8px;
  overflow: scroll;
}
.walnut .team-section .left-icon-wrapper .about-overlay .title {
  font-size: 20px;
  text-decoration: underline;
  font-weight: 600;
}
.walnut .team-section .left-icon-wrapper .about-overlay .sub-title span {
  font-weight: 300;
}
.walnut .team-section .left-icon-wrapper .about-overlay .journey {
  font-weight: 600;
}
.walnut .team-section .left-icon-wrapper .about-overlay .journey span {
  font-weight: 300;
}
.walnut .team-section .left-icon-wrapper .about-overlay .education {
  font-weight: 600;
}
.walnut .team-section .left-icon-wrapper .about-overlay .education span {
  font-weight: 300;
}
.walnut .team-section .left-icon-wrapper:hover .about-overlay {
  bottom: 0px;
}
.walnut .team-section .row-1 {
  margin-bottom: 30px;
}
.walnut .contact-section .address {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 290px;
}
.walnut .contact-section form .container-fields {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;
  display: -o-flex;
  display: -moz-flex;
}
.walnut .contact-section .form-section {
  padding: 20px;
  background-color: rgba(97, 90, 167, 0.06);
}
.walnut .client-section {
  background-color: rgba(97, 90, 167, 0.06);
}
.walnut .client-section .image-row-1 {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;
  display: -o-flex;
  display: -moz-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
}
.walnut .client-section .image-row-1 img {
  height: 70px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.walnut .client-section .image-row-1 img:last-child {
  margin-right: 0px;
}
@media (min-width: 768px) {
  .walnut .client-section .image-row-1 img {
    margin-right: 50px;
  }
}
.walnut input, .walnut textarea {
  padding-left: 15px;
  margin-bottom: 10px;
  border: solid 1px #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  color: #464646;
}
.walnut input {
  height: 45px;
  width: 100%;
}
@media (min-width: 768px) {
  .walnut input {
    width: 90%;
  }
}
.walnut textarea {
  width: 100%;
}
@media (min-width: 768px) {
  .walnut textarea {
    width: 95%;
  }
}
.walnut input[type=submit] {
  background: #615aa7;
  cursor: pointer;
  color: #fff;
  height: 45px;
  border: none;
  width: 100%;
}
@media (min-width: 768px) {
  .walnut input[type=submit] {
    width: 280px;
  }
}
.walnut input:focus,
.walnut select:focus,
.walnut textarea:focus,
.walnut button:focus {
  outline: none;
}
.walnut ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  opacity: 1;
  /* Firefox */
}
.walnut :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}
.walnut ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}

/*# sourceMappingURL=index.css.map */
